* {
  box-sizing: border-box;
}
html {
  background-color: rgb(255, 255, 255);
  scroll-behavior: smooth;
}

body {
  margin: auto;
}

img {
  max-width: 100%;
  display: inline-block;
}

a {
  color: rgb(192, 192, 192);
  text-decoration: none;
}
a:visited {
  color: rgb(192, 192, 192);
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: none;
  transition: 0.4s;
}

.header {
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 1000;
  height: 65px;
  display: flex;
  align-items: center;
  background-color: rgb(0, 0, 0);
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-family: "Poiret One";
  width: 100%;
  justify-content: flex-end;
  gap: 40px;
  /* background-color: yellow; */
  background-color: black;
}

.section {
  width: 100%;
  min-height: 100vh;
  max-width: 100%;
  padding-top: 65px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  font-family: "Courier New";
  font-size: 13px;
}

#about {
  /* background-color: rgb(255, 255, 255); */
  background-image: url(me6.png);
  background-repeat: no-repeat;
  background-size: 1550px;
}

#photos {
  background-color: rgb(0, 0, 0);
}
#illustration {
  background-color: rgb(0, 0, 0);
}

/* #song {
  background-color: rgb(255, 255, 255);
}

#contacts3 {
  background-color: black;
} */

.menu a {
  display: inline-block;
  /* padding: 2px 8px;
  margin: 0 8px; */
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  border: 1px solid rgba(0, 0, 0, 0);
  text-decoration: none;
  color: rgb(192, 192, 192);
  transition: 0.4s;
}
.menu a:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.wrapper {
  width: 65vw;
  margin: 0 auto;
}

.wrapper2 {
  width: 600px;
  margin: 0 auto;
}

.header .wrapper {
  display: flex;
  align-items: center;
}

#about .wrapper {
  display: flex;
  flex-wrap: wrap;
}

#about .section-title {
  width: 100%;
}

#about .section-text {
  margin-top: 0;
  line-height: 1.5;
}

#about .section-image img {
  width: 100%;
}

#about .section-image,
#about .section-text {
  width: 50%;
}

.heading {
  font-family: "Poiret One";
  font-size: 24px;
  color: black;
}
.logoheading {
  font-family: "Poiret One";
  font-size: 20px;
  color: black;
}
/* 
#portfolio .wrapper2 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}
#portfolio .section-text {
  width: 100%;
}
#portfolio .section-image img {
  width: 100%;
}
#portfolio .section-image2 img {
  width: 100%;
}
#portfolio .section-image3 img {
  width: 100%;
}
#portfolio .section-image4 img {
  width: 100%;
}
#portfolio .section-title,
#portfolio .section-image,
#portfolio .section-image2,
#portfolio .section-image3,
#portfolio .section-text {
  width: 30%;
} */

/* #portfolio .wrapper {
  width: 100%;
} */

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery-row {
  display: flex;
}

/* .gallery-item {
  width: 33%;
} */

.gallery-item img {
  max-width: 100%;
}

.gallery-item {
  width: 33%;
}

.gallery-item2 {
  width: 55%;
}

.gallery-item3 {
  width: 33%;
  padding: 10px;
}

.gallery-item4 {
  width: 55%;
  padding: 10px;
  padding-top: 40px;
  padding-left: 20px;
}

.galleryhelp-item img {
  max-width: 100%;
}

.galleryhelp-item {
  display: flex;
  flex-wrap: wrap;
}

.gallery-item {
  width: 33%;
}

.gallery-column {
  flex: 1 1 auto;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.heading2 {
  color: rgb(255, 255, 255);
}

.a {
  list-style-type: circle;
}

.header .wrapper {
  display: flex;
  align-items: center;
}

/* #contacts .wrapper2 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}
#contacts .wrapper2 {
  display: flex;
  flex-wrap: wrap;
}

#contacts .section-text {
  width: 100%;
}

#contacts .section-text2 {
  width: 100%;
}
#contacts .section-text3 {
  width: 100%;
}

#contacts .section-text,
#contacts .section-text2,
#contacts .section-text3 {
  width: 50%;
} 

.section-text3 {
  margin-top: 124px;
} */

/* #contacts .wrapper2 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
}

.contacts-row {
  display: flex;
  width: 700px;
  margin-bottom: 300px;
}

/* .gallery-item {
  width: 33%;
} */

/* .contacts-item {
  width: 100%;
}

.wrapper3 {
  width: 600px;
  height: 200px;
  margin: 0 auto;
}

.page-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  fill: black;
  height: 200px;
  background-color: rgb(0, 0, 0);
  font-family: "Courier New", Courier, monospace;
  color: rgb(255, 255, 255);
  font-size: 12px;
  columns: 3;
}

.contacts-row3 {
  display: flex;
  width: 700px;
  justify-content: center;
}
.contacts-item3 {
  width: 100%;
  margin-top: 80px;
} */

.sectionfooter {
  width: 100%;
  min-height: 20vh;
  /* max-width: 100%; */
  padding-top: 65px;
  font-family: "Courier New";
  font-size: 13px;
}

.footerhelp {
  top: 0px;
  left: 0px;
  z-index: 999;
  height: 65px;
  display: inline-block;
  align-items: center;
  background-color: rgb(0, 0, 0);
}

.footerhelp .wrapper {
  display: flex;
  align-items: center;
}

.footerhelp2 {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  /* font-size: 13px;
  font-family: "Courier New", Courier, monospace; */
  width: 100%;
  justify-content: space-between;
  color: rgb(192, 192, 192);
  /* background-color: yellow; */
  background-color: black;
}

/* #about .section-image img {
  border: 1px solid red;
  padding: 5px;
}

@media (max-width: 828px) {
  #about .section-image img {
    border: none;
    padding-left: 0px;
    padding-top: 20px;
  }
} */

@media (max-width: 828px) {
  .header .wrapper {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 828px) {
  #about .section-image img {
    width: 100%;
  }
}

@media (max-width: 828px) {
  #about .section-image,
  #about .section-text {
    width: 50%;
    flex-direction: column;
  }
}

@media (max-width: 828px) {
  #about .wrapper {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 828px) {
  .galleryhelp-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.haha {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 828px) {
  #photos .gallery-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-end;
  }
}

/* @media (max-width: 828px) {
  .galleryhelp-item #lightgallery2  {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center ;

  }
} */

@media (max-width: 828px) {
  #photos .gallery-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
  }
}

@media (max-width: 828px) {
  .galleryhelp-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 600px;
  }
}

@media (max-width: 828px) {
  .footerhelp2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 0, 0);
  }
}

@media (max-width: 828px) {
  .gallery-row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
  }
}

/* @media (max-width: 828px) {
  .gallery-column .gallery-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: left;
    }
} 
    /* width: 53%; */
